<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Blog Developpez.com{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('bundles/csfblog/css/blog.css') }}" type="text/css" media="all"/>
    </head>
    <body>
        <div id="wrapper">
            <div id="header">{% block header %}header de page{% endblock %}</div>
            <div class="leftmenu">{% block leftmenu %}Menu left{% endblock %}</div>
            <div id="content">{% block content %}Partie centrale{% endblock %}</div>
            <div id="footer">{% block footer %}footer de page{% endblock %}</div>
        </div>
    </body>
</html>
