[submodule "vendor/symfony"]
	path = vendor/symfony
	url = ssh://git@ssh.github.com:443/symfony/symfony.git
[submodule "vendor/monolog"]
	path = vendor/monolog
	url = ssh://git@ssh.github.com:443/Seldaek/monolog.git
[submodule "vendor/swiftmailer"]
	path = vendor/swiftmailer
	url = ssh://git@ssh.github.com:443/swiftmailer/swiftmailer.git
[submodule "vendor/assetic"]
	path = vendor/assetic
	url = ssh://git@ssh.github.com:443/kriswallsmith/assetic.git
[submodule "vendor/twig"]
	path = vendor/twig
	url = ssh://git@ssh.github.com:443/fabpot/Twig.git
[submodule "vendor/twig-extensions"]
	path = vendor/twig-extensions
	url = ssh://git@ssh.github.com:443/fabpot/Twig-extensions.git
[submodule "vendor/doctrine"]
	path = vendor/doctrine
	url = ssh://git@ssh.github.com:443/doctrine/doctrine2.git
[submodule "vendor/doctrine-dbal"]
	path = vendor/doctrine-dbal
	url = ssh://git@ssh.github.com:443/doctrine/dbal.git
[submodule "vendor/doctrine-data-fixtures"]
	path = vendor/doctrine-data-fixtures
	url = ssh://git@ssh.github.com:443/doctrine/data-fixtures.git
[submodule "vendor/bundles/Symfony/Bundle/DoctrineFixturesBundle"]
	path = vendor/bundles/Symfony/Bundle/DoctrineFixturesBundle
	url = ssh://git@ssh.github.com:443/symfony/DoctrineFixturesBundle.git
[submodule "vendor/doctrine-migrations"]
	path = vendor/doctrine-migrations
	url = ssh://git@ssh.github.com:443/doctrine/migrations.git
[submodule "vendor/bundles/Symfony/Bundle/DoctrineMigrationsBundle"]
	path = vendor/bundles/Symfony/Bundle/DoctrineMigrationsBundle
	url = ssh://git@ssh.github.com:443/symfony/DoctrineMigrationsBundle.git
[submodule "vendor/doctrine-common"]
	path = vendor/doctrine-common
	url = ssh://git@ssh.github.com:443/doctrine/common.git
